extends ./layout

block main_content
  article.vh-home
    .vh-home-blurb
      h2.vh-home-blurb-title.font-wait
        | We're vaemoi,
      span.vh-home-blurb-subtitle.font-wait
        | an open source software team building tools that embrace change.
    .vh-home-balloon
      img(src='assets/img/svg/vaemoi_mark.svg' alt='The vaemoi logo')
