doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    meta(name='description' content='An open source software team building tools that embrace change.')
    meta(name='keywords' content='software,software development,coding,devops,code review,collaboration,critique')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    //- Social Tags for shaing to Twitter and Open Graph Supported sites
    meta(property='twitter:card' content='summary')
    meta(property='twitter:site' content='@vaemoi')
    meta(property='twitter:creator' content='@brwnrclse')
    meta(property='og:title' content='vaemoi')
    meta(property='og:description' content='An open source software team building tools that embrace change.')
    meta(property='og:image' content='https://vaemoi.co/assets/img/png/vaemoi_og-image.png')
    meta(property='og:url' content='https://vaemoi.co')

    //- Favicon Stuff
    link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon/favicon-16x16.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon/favicon-32x32.png')
    link(rel='mask-icon' type='image/svg+xml' href='assets/favicon/safari-pinned-tab.svg' color='#212121')
    link(rel='apple-touch-icon' type='image/png' sizes='180x180' href='assets/favicon/apple-touch-icon.png')

    //- Webapp Stuff (manifest, etc)
    link(rel='manifest' href='assets/favicon/site.webmanifest')
    meta(name="msapplication-TileColor" content="#212121")
    meta(name="msapplication-config" content="assets/favicon/browserconfig.xml")
    meta(name="theme-color" content="#212121")

    //- The title can always be changed in a different template but this is a good default
    block header_content
      title
        | vaemoi - a fosst about change

    //- Styles
    link(rel='stylesheet' type='text/css' href='css/fix.css')
    link(rel='stylesheet' type='text/css' href='css/typography.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')

    //- Should the user not have javascript enabled we'll load fonts ourselves
    noscript
      link(rel='stylesheet' type='text/css' href='css/fonts.css')
      style.
        #noscripthide {
          display: none;
        }
        #first-nav .vh-nav-list-item-title,
        #second-nav .vh-nav-list-item-title,
        #third-nav .vh-nav-list-item-title,
        .font-wait {
          background-color: transparent;
          border-radius: 0;
          color: #fafafa;
          font-family: 'IBM Plex Mono', Monaco, monospace;
        }

    //- Critical CSS (styles what appears on initial load)
    //- Important!! Keep this in sync with critical.styl
    style.
      html {
        background-color: #212121;
        height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
        min-height: 100vh;
        min-width: 100vw;
        width: 100vw;
      }
      .font-wait {
        background-color: rgba(250,250,250,0.5);
        border-radius: 4px;
        color: transparent;
        font-family: Monaco, monospace;
      }
      #first-nav {
        border-color: #e3b505;
      }
      #first-nav .vh-nav-list-item-title {
        background-color: rgba(227,181,5,0.5);
        border-radius: 4px;
        color: transparent;
        font-family: Monaco, monospace;
      }
      #second-nav {
        border-color: #ec6b4e;
      }
      #second-nav .vh-nav-list-item-title {
        background-color: rgba(236,107,78,0.5);
        border-radius: 4px;
        color: transparent;
        font-family: Monaco, monospace;
      }
      #third-nav {
        border-color: #2de1fc;
      }
      #third-nav .vh-nav-list-item-title {
        background-color: rgba(45,225,252,0.5);
        border-radius: 4px;
        color: transparent;
        font-family: Monaco, monospace;
      }
      .wf-ibmplexmono-n4-active #first-nav .vh-nav-list-item-title,
      .wf-ibmplexmono-n4-active #second-nav .vh-nav-list-item-title,
      .wf-ibmplexmono-n4-active #third-nav .vh-nav-list-item-title,
      .wf-ibmplexmono-n4-active .font-wait {
        background-color: transparent;
        border-radius: 0;
        color: #fafafa;
        font-family: 'IBM Plex Mono', Monaco, monospace;
      }
      .wf-ibmplexmono-n4-inactive #first-nav .vh-nav-list-item-title,
      .wf-ibmplexmono-n4-inactive #second-nav .vh-nav-list-item-title,
      .wf-ibmplexmono-n4-inactive #third-nav .vh-nav-list-item-title,
      .wf-ibmplexmono-n4-inactive .font-wait,
      .wf-ibmplexmono-n4-inactive {
        background-color: transparent;
        border-radius: 0;
        color: #fafafa;
      }
      .vh-page {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
      }
      @media only screen and (max-width: 700px) {
        .vh-page {
          justify-content: space-around;
        }
      }
      .vh-header {
        height: 10%;
        max-height: 10%;
        max-width: 100%;
        min-height: 10%;
        min-width: 100%;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        width: 100%;
      }
      @media only screen and (max-width: 700px) {
        .vh-header {
          display: none;
          visibility: hidden;
        }
      }
      .vh-nav {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-flow: row-reverse nowrap;
                flex-flow: row-reverse nowrap;
        height: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 2.5%;
        max-height: 100%;
        max-width: 95%;
        min-height: 100%;
        min-width: 95%;
        width: 95%;
      }
      @media only screen and (max-width: 700px) {
        .vh-nav {
          display: none;
          visibility: hidden;
        }
      }
      .vh-nav-list {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        height: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-height: 100%;
        max-width: 25%;
        min-height: 100%;
        min-width: 25%;
        width: 25%;
      }
      @media only screen and (max-width: 1199px) {
        .vh-nav-list {
          max-width: 45%;
          min-width: 45%;
          width: 45%;
        }
      }
      @media only screen and (max-width: 700px) {
        .vh-nav-list {
          max-width: 100%;
          min-width: 100%;
          width: 100%;
        }
      }
      .vh-nav-list-item {
        cursor: pointer;
      }
      .vh-nav-list-item:hover,
      .vh-nav-list-item:active {
        border-style: dashed;
        border-width: 0 0 2px;
        padding: 2px 0 0;
      }
      .vh-nav-logo {
        max-width: 50px;
        min-width: 50px;
        width: 50px;
      }
      @media only screen and (max-width: 700px) {
        .vh-nav-logo {
          display: none;
          visibility: hidden;
        }
      }
      .vh-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 80%;
        max-height: 80%;
        max-width: 100%;
        min-height: 80%;
        min-width: 100%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
      }

    //- Async webfont loading
    script(type='text/javascript').
      WebFontConfig = {
        google: {
          families: ['IBM Plex Mono']
        }
      };

      (function(d){
        var
          wf = d.createElement('script'),
          s = d.scripts[0];

        wf.src = 'assets/loadWebFont/webfont.js';
        wf.async = true;
        wf.onerror = 'console.log("Error Loading Webfont")'
        s.parentNode.insertBefore(wf, s);
      })(document);

    //- Heap analytics loading
    script(type='text/javascript').
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("4282355410");

  body.vh-page
      //- Navigation
        The navigation will change depending on what page the user is on so each
              navigation is replaceable
      header.vh-header
        nav.vh-nav
          ul.vh-nav-list
            block nav_about
              li.vh-nav-list-item#first-nav
                h4.vh-nav-list-item-title
                  a(href='/about')
                    | about
            block nav_projects
              li.vh-nav-list-item#second-nav
                h4.vh-nav-list-item-title
                  a(href='/projects')
                    | projects
            block nav_twitter
              li.vh-nav-list-item#third-nav
                h4.vh-nav-list-item-title
                  a(target='_blank' href='https://www.twitter.com/vaemoi')
                    | @vaemoi
          block nav_logo

      //- Main stuff
      main.vh-main
        block main_content

      //- Footer stuff
      footer.vh-footer
        block footer_content
          .vh-follow
            span.vh-follow-action-text
              | Follow Development:
            ul.vh-follow-links
              li.vh-follow-link
                a(href='https://github.com/vaemoi')
                  img(src='assets/img/svg/github_mark_dark_empty.svg' alt='Github logo: link to Github' width='25')
              li.vh-follow-link
                a(href='https://gitlab.com/vaemoi')
                  img(src='assets/img/svg/gitlab_mark.svg' alt='Gitlab logo: link to Gitlab' width='25')
              li.vh-follow-link
                a(href='https://bitbucket.com/vaemoi')
                  img(src='assets/img/svg/bitbucket_mark.svg' alt='Bitbucket logo: link to Bitbucket' width='25')
