extends ./layout

block header_content
  title
    | projects @ vaemoi

block nav_logo
  a.vh-nav-logo(href='/')
    img.vh-nav-logo(src='assets/img/svg/vaemoi_mark.svg' alt='The vaemoi logo: click to return to the home page.' width='50')

block main_content
  article.vh-projects
    h3
      | Coming Soon!
