.vh-about
  align-items center
  display flex
  flex-flow row nowrap
  font-family 'IBM Plex Mono', Monaco, monospace
  height 100%
  justify-content center
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  width 100%

  & h3
    color $yellow
