@import 'variables'

//
// Critical CSS!!! Be sure this complied css is copied to <head> in layout.pug
// ====================
//
//

html
  background-color $black
  height 100vh
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  width 100vw

//
// Trickery to hide text elements until the web fonts have loaded
//
//

.font-wait
  background-color $white-shroud
  border-radius 4px
  color transparent
  font-family Monaco, monospace

#first-nav
  border-color $yellow

  & .vh-nav-list-item-title
    background-color $yellow-shroud
    border-radius 4px
    color transparent
    font-family Monaco, monospace

#second-nav
  border-color $salmon

  & .vh-nav-list-item-title
    background-color $salmon-shroud
    border-radius 4px
    color transparent
    font-family Monaco, monospace

#third-nav
  border-color $blue

  & .vh-nav-list-item-title
    background-color $blue-shroud
    border-radius 4px
    color transparent
    font-family Monaco, monospace

.wf-ibmplexmono-n4-active
  & #first-nav .vh-nav-list-item-title,
  & #second-nav .vh-nav-list-item-title,
  & #third-nav .vh-nav-list-item-title,
  & .font-wait
    background-color transparent
    border-radius 0
    color $white
    font-family 'IBM Plex Mono', Monaco, monospace

.wf-ibmplexmono-n4-inactive
  & #first-nav .vh-nav-list-item-title,
  & #second-nav .vh-nav-list-item-title,
  & #third-nav .vh-nav-list-item-title,
  & .font-wait
    background-color transparent
    border-radius 0
    color $white

//
// End Section
//
//


.vh-page
  align-items center
  display flex
  flex-flow column nowrap
  height 100%
  justify-content space-between
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  width 100%

  @media only screen and (max-width: 700px)
    justify-content space-around

.vh-header
  height 10%
  max-height 10%
  max-width 100%
  min-height 10%
  min-width 100%
  order 0
  width 100%

  @media only screen and (max-width: 700px)
    display none
    visibility hidden

.vh-nav
  align-items center
  display flex
  flex-flow row-reverse nowrap
  height 100%
  justify-content space-between
  margin 0 2.5%
  max-height 100%
  max-width 95%
  min-height 100%
  min-width 95%
  width 95%

  @media only screen and (max-width: 700px)
    display none
    visibility hidden

  &-list
    align-items center
    display flex
    flex-flow row nowrap
    height 100%
    justify-content space-between
    max-height 100%
    max-width 25%
    min-height 100%
    min-width 25%
    width 25%

    @media only screen and (max-width: 1199px)
      max-width 45%
      min-width 45%
      width 45%

    @media only screen and (max-width: 700px)
      max-width 100%
      min-width 100%
      width 100%

    &-item
      cursor pointer

      &:hover, &:active
        border-style dashed
        border-width 0 0 2px
        padding 2px 0 0

  &-logo
    max-width 50px
    min-width 50px
    width 50px

    @media only screen and (max-width: 700px)
      display none
      visibility hidden

.vh-main
  display flex
  flex-flow column nowrap
  height 80%
  max-height 80%
  max-width 100%
  min-height 80%
  min-width 100%
  order 1
  width 100%
