.vh-home
  align-content flex-start
  align-items flex-start
  display flex
  flex-flow column nowrap
  height 100%
  justify-content flex-start
  margin 0 10%
  max-height 100%
  max-width 80%
  min-height 100%
  min-width 80%
  width 80%

  @media only screen and (max-width: 1199px)
    flex-flow column-reverse nowrap
    justify-content center
    margin 0 5%
    max-width 90%
    min-width 90%
    width 90%

  &-blurb
    margin 0 0 5%
    max-width 300px

    @media only screen and (max-width: 700px)
      margin 10% 0 0

    &-title
      margin 0 0 2.5%

    &-subtitle
      line-height 1.2em

  &-balloon
    align-self center
    max-width 35%

    @media only screen and (max-width: 1199px)
      margin 10% 0 0
      max-width 50%

    @media only screen and (max-width: 700px)
      margin 0 0 25%
      max-width 75%
