@import 'variables'

//
// Footer
//
//

.vh-footer
  color $white
  font-family 'IBM Plex Mono', Monaco, monospace
  height 10%
  max-height 10%
  max-width 100%
  min-height 10%
  min-width 100%
  order 2
  width 100%

.vh-follow
  align-items center
  display flex
  flex-flow row nowrap
  height 100%
  justify-content flex-end
  margin 0 2.5%
  max-height 100%
  max-width 95%
  min-height 100%
  min-width 95%
  width 95%

  &-action-text
    @media only screen and (max-width: 700px)
      display none
      visibility hidden

  &-links
    align-items center
    display flex
    flex-flow row nowrap
    justify-content space-around
    margin 0 2%
    max-width 15%
    min-width 15%
    width 15%

    @media only screen and (max-width: 1199px)
      max-width 25%
      min-width 25%
      width 25%

    @media only screen and (max-width: 700px)
      margin 0
      max-width 100%
      min-width 100%
      width 100%

// End Section


@import 'index'
@import 'about'
@import 'projects'
